<!-- Header Start -->
  <div class="row">
    <div class="col-sm-12 col-md-12 ">
      <h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Project name</a></h1>
    </div> 
  </div>
<!-- Header Ends -->
<!-- Taba Start -->
  <div ng-controller="TabsDemoCtrl">
    <tabset justified="true">
      <!-- Simple Form Tab Start -->
      <tab heading="Form Example">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><label>Simple Form:</label></h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-3 col-md-2">
                <input type="text" ng-model="hello" class="form-control" placeholder="Search...">
            </div>
            <div class="col-sm-3 col-md-2">
              <p>You said: {{hello}}</p>
            </div>       
          </div>
        </div>
      </tab>
      <!-- Simple Form Tab Ends -->
      <!-- Todo Tab Start -->    
      <tab heading="Todo Example">
        <div class="panel panel-default" ng-controller="TodoController">
          <div class="panel-heading">
            <h3 class="panel-title"><label>Todo:</label></h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-5 col-md-5">
              <form ng-submit="addTodo()">
                <input type="text" ng-model="todoText"  size="30" placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
              </form>
                <span>{{remaining()}} of {{todos.length}} remaining</span>[ <a href="" ng-click="archive()">archive</a> ]
            </div>
            <div class="col-sm-7 col-md-7">
              <ul class="unstyled">
                <li ng-repeat="todo in todos">
                  <input type="checkbox" ng-model="todo.done">
                  <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
              </ul>
            </div>    
          </div>
        </div>
      </tab>
      <!-- Todo Tab Ends -->
      <tab heading="API Example">
        <div class="panel panel-default" ng-controller="ChatCtrl">
          <!-- CHAT MARKUP -->
          <div class="panel-heading">
            <h3 class="panel-title"><label>Firebase Chat Demo:</label></h3>
          </div>
          <div class='panel-body'>
            <div class='example-chat-toolbar'>
              <label for='nameInput'>Username:</label>
              <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
            </div>
            <ul id='example-messages' class='example-chat-messages'>
              <li ng-repeat='msg in messages'>
                <strong class='example-chat-username'>{{msg.from}}</strong>
                {{msg.body}}
              </li>
            </ul>
            <footer>
              <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>
            </footer>
          </div>
        </div>
      </tab>
      <!-- Alert Tab Start -->
      <tab select="alertMe()">
        <tab-heading>
          <i class="glyphicon glyphicon-bell"></i> Alert! {{message}}
        </tab-heading>
        I've got an HTML heading, and a select callback. Pretty cool!
      </tab>
      <!-- Alert Tab Ends -->
    </tabset>
  </div>
  <!-- Tabs Ends -->